html {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  flex-direction: column;
  height: 100%;
  width: 100%;
  flex: auto;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: solid black;
  margin-bottom: ;
}

.row {
  display: flex;
}

.cell {
  height: 250px;
  width: 250px;
  flex: auto;
  border: solid black;
  text-align: center;
  line-height: 230px;
  font-stretch: ultra-expanded;
  font-size: 300px;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  height: 40px;
  width: 120px;
  border: none;
  font-size: 18px;
  font-weight: bolder;
  color: white;
  background-color:rgb(143, 195, 229);
  cursor: pointer;
  margin: 40px;
}

div {
  cursor: pointer;
}