html {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  flex-direction: column;
  height: 100%;
  width: 100%;
  flex: auto;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border: solid black;
  margin-bottom: 90px;
}

.row {
  display: flex;
}

.cell {
  height: 200px;
  width: 200px;
  flex: auto;
  border: solid black;
  text-align: center;
  line-height: 210px;
  font-stretch: ultra-expanded;
  font-size: 250px;
  font-family: Arial, Helvetica, sans-serif;
}

button {
  border: none;
  color: white;
  background-color: rgb(143, 195, 229);
  cursor: pointer;
  font-weight: bolder;
}

#play-again {
  font-size: 18px;
  font-weight: bolder;
  height: 40px;
  width: 120px;
  margin-bottom: 25px
}

div {
  cursor: pointer;
}

.winning-message {
  font-size: 30px;
  color: green;
  height: 50px;
  padding-left: 500px;
}

.players {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  font-size: 30px;
}

.scores {
  display: flex;
  justify-content: space-between;
  width: 900px;
  font-size: 30px;
}

.change-name-buttons {
  display: flex;
  justify-content: space-between;
  width: 1000px;
}

#first-name-button,
#second-name-button {
  font-size: 15px;
  width: 120px;
  height: 20px;
}

.footer {
  display: flex;
  width: 1500px;
}

#reset-board {
  font-size: 20px;
  font-weight: bolder;
}


